<mat-toolbar>
    <span>Nouvelle salle</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar> 
<form [formGroup]="salleForm" class="ormvah-form" (submit)="onSubmit()">
        <div class="controles-container">
            <input type="hidden" formControlName="id">
            <mat-form-field>
                <input formControlName="nom" matInput placeholder="Nom">
            </mat-form-field> 
            <mat-form-field>
                <input formControlName="type" matInput placeholder="Type">
            </mat-form-field> 
            <mat-form-field>
                <input formControlName="charge" type="number" matInput placeholder="La charge du salle">
            </mat-form-field> 
            <mat-form-field>
                <input formControlName="available" type="number" matInput placeholder="Disponible">
            </mat-form-field> 
            <mat-form-field>
                <input formControlName="equipements" type="number" matInput placeholder="Equipements">
            </mat-form-field> 
            
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="salleForm.invalid">
                    Ajouter
                </button>
            </div>
        </div>        
   
</form>