<mat-toolbar>
    <span>Nouveau utilisateur</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<mat-card class="user-card">
    <mat-card-header>
        <mat-card-title>User</mat-card-title>
        <mat-card-subtitle>Ces informations reste confidentielle ! </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{selectedUser.username}}
        </p>
        <p>
            {{selectedUser.password}}
        </p>
    </mat-card-content>
</mat-card>